[submodule "escape_vc"]
	path = escape_vc
	url = https://github.com/noc-deadlock/escape_vc.git
[submodule "seec"]
	path = seec
	url = https://github.com/noc-deadlock/seec.git
[submodule "drain"]
	path = drain
	url = https://github.com/noc-deadlock/drain.git
[submodule "swap"]
	path = swap
	url = https://github.com/noc-deadlock/swap.git
[submodule "spin"]
	path = spin
	url = https://github.com/noc-deadlock/spin.git
